# Database config
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="hour_tracker"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"

# Generated using `openssl rand -base64 48`
JWT_SECRET="7gfw3RndT7KZdaPb8V95lt+8gF6Q6GAejsv7p9r7Ggsrhzp8zF108ql6/CdoQAe6"